@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@layer utilities {
    .hover-up {
        @apply transform transition-transform duration-300 hover:-translate-y-1;
    }
    
    .hover-shadow {
        @apply transition-shadow duration-300 hover:shadow-lg dark:hover:shadow-gray-800;
    }

    .animate-alert-enter {
        animation: fadeIn 0.5s ease-out forwards;
    }

    .animate-fade-up {
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.8s ease-out;
    }

    .animate-fade-down {
        opacity: 0;
        transform: translateY(-30px);
        transition: all 0.8s ease-out;
    }

    .animate-fade-left {
        opacity: 0;
        transform: translateX(-30px);
        transition: all 0.8s ease-out;
    }

    .animate-fade-right {
        opacity: 0;
        transform: translateX(30px);
        transition: all 0.8s ease-out;
    }

    .animate-fade {
        opacity: 0;
        transition: all 0.8s ease-out;
    }

    .animate-active {
        opacity: 1;
        transform: translate(0);
    }
}

/* Tambahkan di app.css */
.main-content {
    transition: margin-left 0.3s ease;
}

.sidebar {
    transition: transform 0.3s ease;
}

@media (max-width: 639px) {
    .sidebar {
        transform: translateX(-100%);
    }
    
    .sidebar-open {
        transform: translateX(0);
    }
}




